<% @page_title = "Articles" %>
<div class="article index">
  <h2>Articles</h2>
  <%= link_to("Add New Article", {:action => 'new'}, :class => 'action new') %>
  <div><%= pluralize(@articles.size, 'article') %> found.</div>
  <table class="listing" summary="Article list">
    <tr class="header">
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @articles.each do |article| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= article.title%></td>
      <td><%= article.description %></td>
      <td class="actions">
        <%= link_to "Show", article_path(article), :class => 'action show' %>
        <%= link_to "Edit", edit_article_path(article), :class => 'action edit' %>
        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"},:class => 'action delete' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
